In [1]:
import pandas as pd
import numpy as np

In [2]:
#sort_index  对行或列排序
ser1 = pd.Series(np.random.randint(1,9,4),index = list('bcda'))
ser1

b    2
c    6
d    2
a    8
dtype: int32

In [4]:
ser1.sort_index()
ser1.sort_index(ascending=False)

a    8
b    2
c    6
d    2
dtype: int32

In [5]:
df1 = pd.DataFrame(np.random.randint(1,9,(4,4)),index = list('BDCA'),columns = list('bdca'))
df1

   b  d  c  a
B  8  6  8  1
D  7  5  4  2
C  6  6  1  3
A  6  3  8  5

In [7]:
df1.sort_index()
df1.sort_index(ascending=False)
df1.sort_index(axis = 1)
df1.sort_index(axis = 1,ascending=False)

   d  c  b  a
B  6  8  8  1
D  5  4  7  2
C  6  1  6  3
A  3  8  6  5