In [1]:
import pandas as pd
import numpy as np

In [2]:
ser1 = pd.Series(np.random.randint(1,9,5),index = list('abcde'))
ser1

a    1
b    6
c    6
d    6
e    4
dtype: int32

In [3]:
ser1.sort_values()

a    1
e    4
b    6
c    6
d    6
dtype: int32

In [4]:
ser1.sort_values(ascending=False)

d    6
c    6
b    6
e    4
a    1
dtype: int32

In [5]:
ser1['c'] = np.NaN
ser1

a    1.0
b    6.0
c    NaN
d    6.0
e    4.0
dtype: float64

In [6]:
ser1.sort_values()

a    1.0
e    4.0
b    6.0
d    6.0
c    NaN
dtype: float64

In [7]:
df1 = pd.DataFrame(np.random.randint(1,9,(4,4)),index = list('ABCD'),columns = list('abcd'))
df1

   a  b  c  d
A  7  5  3  2
B  3  1  2  7
C  7  2  6  8
D  3  4  4  8

In [8]:
df1.sort_values(by = 'a')
df1.sort_values(by = 'A',axis = 1)
df1.sort_values(by = ['b','c'],ascending=[1,0])#先根据b排正序，然后根据c排倒序

   a  b  c  d
B  3  1  2  7
C  7  2  6  8
D  3  4  4  8
A  7  5  3  2