In [1]:
import pandas as pd
import numpy as np

In [2]:
ser1 = pd.Series(np.random.randint(1,9,5),index = list('abcde'))
ser1

a    3
b    1
c    4
d    7
e    4
dtype: int32

In [3]:
ser1.rank()

a    2.0
b    1.0
c    3.5
d    5.0
e    3.5
dtype: float64

In [4]:
ser1.rank(method = 'max')

a    2.0
b    1.0
c    4.0
d    5.0
e    4.0
dtype: float64

In [5]:
ser1.rank(method = 'min')

a    2.0
b    1.0
c    3.0
d    5.0
e    3.0
dtype: float64

In [9]:
ser1.rank(method = 'first')

a    3.0
b    2.0
c    1.0
d    4.0
e    5.0
dtype: float64

In [12]:
df1 = pd.DataFrame(np.random.randint(1,9,(4,4)),index = list('abcd'),columns = list('abcd'))
df1

   a  b  c  d
a  3  3  7  8
b  2  3  3  1
c  7  4  3  8
d  6  4  5  7

In [14]:
df1.rank()#åˆ—
df1.rank(axis = 1)

     a    b    c    d
a  1.5  1.5  3.0  4.0
b  2.0  3.5  3.5  1.0
c  3.0  2.0  1.0  4.0
d  3.0  1.0  2.0  4.0